<a href='/login'>
  <h1 id='welcome'>Enter for Your Fortune!</h1>
</a>

<h1 id='title-landing'>Mercury In Gatorade</h1>
<h2 id='daily-fortune'>Your Daily Fortune:
  <br />
  <p id='daily-horo'> {{fortune_response}}</p>
  <br />
  -Sun Tzu, Art Of War (not really)
</h2>