
 
<div class="chart-data">
    <ul>{{chart.name}}</ul>
    <ul>{{chart.birthDate}}</ul>
    <ul>{{chart.birthPlace}}</ul>
    <ul>{{chart.birthTime}}</ul>

    <script src="js/astrochart.min.js"></script>
    {{> birthchart}}
</div>

