<div class='row'>
  <div class='col-auto'>
    <h2 id='profile-landing'>Welcome, {{name}}! &#9889;</h2>
  </div>
</div>
{{!-- {{horoscope_response}} --}}
{{#each signs as |sign|}}
<p>{{sign}}</p>
{{/each}}


<img src= '/assets/aquarius.svg'/>

<div id='horoscope'>
  <h3>DAILY HOROSCOPE GOES HERE</h3>
</div>

<a href='/chart'>
  <h1 id='welcome'>BIRTH CHART WONDERLAND</h1>
</a>

<script src='./js/profile.js'></script>