<div class='row'>
  <div class='col-auto'>
    <h2 id='profile-landing'>Welcome, {{name}}! &#9889;</h2>
  </div>
</div>
{{!-- {{horoscope_response}} --}}
{{!-- <p>{{horoscopes.Virgo}}</p> --}}

<select name='sign' id='choices'>
  <option
    value='Career changes will be prominent and you may be relocating as a result. Take time to make the right decisions, and your career will take offwith a bang. Home life will be good, and relationship with mother emphasised'
  >Aquaruis</option>
  <option
    value='Fast-moving Mercury puts emphasis on communication today – take time to communicate with your significant other. Some really intense recent experiences have made it hard for you to know what you want now as everything has changed.'
  >Aries</option>
  <option
    value='It is time to go through your possessions and get rid of what’s not needed. If you have loose ends hanging about in your life, remove them. This is amoving-on time with much sorting to do and the need for changes knocking at the door.'
  >Cancer</option>
  <option
    value='You may feel that you are walking a tight-rope, waiting forthings to happen, however, this is only a temporary phase. Be patient and learn to go withthe flow. Perhaps even a small sacrifice may be necessary, to achieve a greater whole.'
  >Capricorn</option>
  <option
    value='A younger sibling could demand time and attention. Much is happening on the career front - watch out for that office sneak. The stress you have been under starts to lift as a close one gives in. Get rid of what and who is no longer working inyour life.'
  >Gemini</option>
  <option
    value='By allowing things to flow outside your expectations you may add in a new dimension that hadn’t occurred to you till now. Watch out for new romances because some of them may not be what you expect.'
  >Leo</option>
  <option
    value='It’s a time to turn your luck around and it’s a time to combat proactively. There are many chances and benefits lying ahead. Though there will be aconstant flow of money, major expenses may also crop up.'
  >Libra</option>
  <option
    value='A new friendship can be lasting and supportive. And don’t be surprised if an old friend turns out to be something more! You will work well with groups andinstitutions. It is advisable to be your creative, romantic self and try you to drop regressive conditional patterns.'
  >Pisces</option>
  <option
    value='Female associates/ colleagues/ authority figures could pose problems. Avoid compromising situations at work. Past traumatic relationships haveleft you feeling isolated and unhappy. Do not carry past baggage and look forward to some interesting encounters soon.'
  >Sagittarius</option>
  <option
    value='Take care of your general health. Bone and lower back problems may persist. Rigorous exercises or physical training should be avoided. Career-wise a new opportunity opens up. Time to decide if lateral growth is just as good as a promotion.'
  >Scorpio</option>
  <option
    value='Money problems appear to loom large, but it is temporary. Career front seems unsettled. Romance good. Taking a break from the family issue draggingyou down brings new answers.'
  >Taurus</option>
  <option
    value='You need to calm down your curiosity and the need for stimulation. Be aware of relationship issues, as one may turn out to be not doing so well and you have to reassess there. Be honest with yourself and others and you will be doing fine.'
  >Virgo</option>
</select>

<p id='horoscope'></p>

<a href='/chart'>
  <h1 id='welcome'>BIRTH CHART WONDERLAND</h1>
</a>

<script src='./js/profile.js'></script>