<div class='row'>
  <div class='col-auto'>
    <h2 id='profile-landing'>Welcome, {{name}}! &#9889;</h2>
  </div>
</div>
{{!-- {{horoscope_response}} --}}
{{!-- <p>{{horoscopes.Virgo}}</p> --}}

<select name="sign" id="choices"> 
  <option value ='Aquarius'>Aquaruis</option>
  <option value ='Aries'>Aries</option>
  <option value ='Cancer'>Cancer</option>
  <option value ='Capricorn'>Capricorn</option>
  <option value ='Gemini'>Gemini</option>
  <option value ='Leo'>Leo</option>
  <option value ='Libra'>Libra</option>
  <option value ='Pisces'>Pisces</option>
  <option value ='Sagittarius'>Sagittarius</option> 
  <option value ='Scorpio'>Scorpio</option>
  <option value ='Taurus'>Taurus</option>
  <option value ='Virgo'>Virgo</option>
  </select>
  
  <p id = 'horoscope'></p>


<div id='horoscope'>
  <h3>DAILY HOROSCOPE GOES HERE</h3>
</div>

<a href='/chart'>
  <h1 id='welcome'>BIRTH CHART WONDERLAND</h1>
</a>

<script src='./js/profile.js'></script>