<div class='row'>
  <div class='col-auto'>
    <h2 id='profile-landing'>Welcome, {{name}}! &#9889;</h2>
  </div>
</div>
{{!-- {{horoscope_response}} --}}
<p>{{signsAq}}</p>
<p>{{signsAr}}</p>


<a href='/chart'>
  <h1 id='welcome'>Click here to view your Birth Charts</h1>
</a>

<script src='./js/profile.js'></script>