* {
    box-sizing: border-box;
    /* color: purple; this is the text color for the whole page */
    /* border: 2px solid white; */
}

body {
    background-image: url('../assets/zodiac-wheel-with-galaxy-stars-background-astrology-horoscope-with-signs-aries-taurus-gemini-cancer-leo-virgo-libra-scorpio-sagittarius-capricorn-aquarius-pisces-symbols-free-vector.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
/* #login-button {
    display: flex;
    margin-top: 50%;
} */

/* label{
    background-color: white;
} */
.form-input {
    background-color: white;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

#login, #sign-up{
    text-align: center;
    /* background-color: white; */
}

h2, h3{
    animation: sparkle 4s infinite;
}

#welcome {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 2%;
    animation: sparkle 4s infinite;
    /* background-color: white; */
    font-size: 32px;
}

#paper{
    display: flex;
    justify-content: right;
    margin-top: -50%;
    margin-left: 40%;
    margin-right: 5%;
}

#login-button {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 2%;
    animation: sparkle 4s infinite;
    /* background-color: white; */
    font-size: 24px;
}

@keyframes sparkle {
    0% {
      color: white;
      text-shadow: none;
    }
    50% {
      color: purple;
      text-shadow: 0 0 10px gold;
    }
    100% {
      color: white;
      text-shadow: none;
    }
  }
  


